<a href="https://colab.research.google.com/github/MinKyeong031/CosPro-Study/blob/main/Day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(type('1'))
print(type("1"))
print(type(10))
print(type(10.0))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

In [2]:
a = 1
#a++ 증감연산자 지원하지 않음
print(a)

1

In [6]:
num = 0
print(num)
num = num + 1 #아랫줄과 동일
print(num)
num += 1
print(num)
num -= 1 #아랫줄과 동일
print(num)
num = num -1
print(num)

0
1
2
1
0

In [8]:
num1 = 10
num2 = 2
print(type(num1), type(num2))
lf = num1/num2
print(type(lf))
print(lf)

<class 'int'> <class 'int'>
<class 'float'>
5.0

In [9]:
lf = 1074/100
num = int(lf)
print(num, type(num))
print(lf, type(lf))

10 <class 'int'>
10.74 <class 'float'>

In [10]:
a, b = 23, 4
c = a/b
print(c, type(c))
d = int(a/b)
print(d, type(d))
e = a//b
print(e, type(e))

5.75 <class 'float'>
5 <class 'int'>
5 <class 'int'>

In [ ]:
a-b == 0

In [12]:
a, b = 20, 20
print(a is b)#메모리 참조 영역 비교
print(a == b)#내용 비교
c, d = [10], [10]
print(c is d)
print(c == d)

True
True
False
True

In [ ]:
''' 전부 가능
if 0 <= x and x < 100:
if 0 <= x < 100:
'''

In [ ]:
'''
while 조건식: -> 조건식이 참인 동안 반복 실행

for 변수명 in 리스트: -> 리스트의 각 요소의 처리
'''

In [14]:
a = []
b = list()
print('a is ', type(a), 'length : ', len(a))
print('b is ', type(b), 'length : ', len(b))

a is  <class 'list'> length :  0
b is  <class 'list'> length :  0

In [15]:
numbers = [1, 2, 3, 4, 5]
print(numbers)
numbers = list([1, 2, 3, 4, 5])
print(numbers)
print(numbers[0])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
1

In [16]:
li = [1, 2, 3, 4, 5]
print(li)
li.append(6)
print(li)
li.append([10, 20, 30])
print(li)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [10, 20, 30]]

In [18]:
li = [1, 2, 3, 4, 5]
li.append(6)
print(li[5])
li.append([10, 20, 30])
print(li[6])
print(li[6][0])
#print(li[7]) -> 출력되지 않는다.

6
[10, 20, 30]
10

In [19]:
first = [1, 2, 3]
second = [10, 20, 30]
first.append(second)
print(first)
#10을 출력하지 위해서?
print(first[3][0])

[1, 2, 3, [10, 20, 30]]
10

In [21]:
first = [1, 2, 3]
second = [10, 20, 30]
first = first + second
print(first)
#10을 출력하지 위해서?
print(first[3])

[1, 2, 3, 10, 20, 30]
10

In [22]:
first = [1, 2, 3]
second = first
print(first, "vs", second)

first [0] = 10
print(first, "vs", second)

[1, 2, 3] vs [1, 2, 3]
[10, 2, 3] vs [10, 2, 3]

In [23]:
first = [1, 2, 3]
second = first.copy()
print(first, "vs", second)

first [0] = 10
print(first, "vs", second)

[1, 2, 3] vs [1, 2, 3]
[10, 2, 3] vs [1, 2, 3]

In [24]:
numbers = [1, 5, 3, 7, 8, 10]
count = numbers.count(3)
print("count of 3 ", count)
index = numbers.index(3)
print("index of 3 ", index)

count of 3  1
index of 3  2

In [25]:
numbers = [1, 5, 3, 7, 8, 10]
if 6 is numbers:
  print("index of 6 : ", numbers.index(6))
else:
  print("not found 6 in list")

not found 6 in list

In [26]:
numbers = [1, 2, 3]
numbers.insert(1, 4)
print(numbers)
numbers.remove(2)
print(numbers)

[1, 4, 2, 3]
[1, 4, 3]

In [29]:
numbers = [1, 5, 3, 7, 8, 10]
numbers.reverse()
print(numbers)

[10, 8, 7, 3, 5, 1]

In [30]:
numbers = [1, 5, 3, 7, 8, 10]
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[1, 3, 5, 7, 8, 10]
[10, 8, 7, 5, 3, 1]

In [33]:
numbers = [10, 20, 30]
print(numbers.pop())
print(numbers.pop())
print(numbers.pop())
print(len(numbers))

30
20
10
0

In [34]:
scores = ["a", "b", "c", "d", "e", "f"]
for i in scores:
  print(i)

a
b
c
d
e
f

In [35]:
scores = ["a", "b", "c", "d", "e", "f"]
i = 0
while i < len(scores):
  print(scores[i])
  i += 1

a
b
c
d
e
f

In [36]:
for i in range(5):
  print(i)

0
1
2
3
4

In [38]:
i = 0
while i < 5:
  print(i)
  i += 1

0
1
2
3
4

In [40]:
a = list(range(10))
print(a)
b = list(range(5, 10))
print(b)
c = list(range(1, 10, 2))
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [41]:
for i in range(5):
  print(i, end = '')

01234

In [42]:
for i in list(range(5)):
  print(i, end = ' ')

0 1 2 3 4

In [44]:
arr = list(range(1, 11))
sum = 0
for i in arr:
  sum += i
avg = sum/len(arr)
print(sum)
print(avg)
print(arr)

55
5.5
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
arr = [1, 2, -4, 56, 8, 89, 77, 23, 4, 22]
max = arr[0]
for i in arr:
  if max < i:
    max = i
print(max)

89

In [46]:
arr = [1, 2, -4, 56, 8, 89, 77, 23, 4, 22]
min = arr[0]
for i in arr:
  if min > i:
    min = i
print(min)

-4

In [47]:
arr = [1, 2, -4, 56, 8, 89, 77, 23, 4, 22]
arr.sort()
min = arr[0]
max = arr[len(arr)-1]
print('min : ', min, 'max : ', max)

min :  -4 max :  89

In [48]:
arr = [1, 2, -4, 56, 8, 89, 77, 23, 4, 22]
search_value = 8
for i in arr:
  if i == search_value:
    print(i, "찾았다.")

8 찾았다.

In [49]:
arr = [1, 2, -4, 56, 8, 89, 77, 23, 4, 22]
index = arr.index(8)
print(index)

4

In [50]:
arr = [1, 2, -4, 56, 8, 89, 77, 23, 4, 22]
try:
  index = arr.index(0)
  print(index)
except:
  print("찾지 못함")

찾지 못함

In [53]:
arr = [1, 2, 8, 56, 8, 89, 77, 23, 4, 22]
search_value = 8
count = arr.count(search_value)
if count == 0:
  print("없음")
else:
  print(count, "개 존재")

2 개 존재