<a href="https://colab.research.google.com/github/MinKyeong031/CosPro-Study/blob/main/%EA%B8%B0%EC%B6%9C%EB%AC%B8%EC%A0%9C(2104_%EA%B9%80%EB%AF%BC%EA%B2%BD).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제1

A학교에서는 단체 티셔츠를 주문하기 위해 학생 별로 원하는 티셔츠를 조사했습니다. 
선택할 수 있는 티셔츠 사이즈는 작은순서대로 “XS”,  “S”,   “ M”,  “ L”,  “ XL”,  “ XXL” 총 6종류가 있습니다.
학생 별로 원하는 티셔츠 사이즈를 조사한 결과가 들어있는 리스트 shirt_size가 매개변수로 주어질 때, 사이즈 별로 티셔츠가 몇 벌씩 필요한지 가장 작은 사이즈부터 순서대로 리스트에 담아 return 하도록 solution 함수를 완성해 주세요.

In [ ]:
def solution(shirt_size):
  answer = [0 for _ in range(6)]
  for size in shirt_size:
    if size == "XS":
      answer[0] += 1
    elif size == "S":
      answer[1] += 1
    elif size == "M":
      answer[2] += 1
    elif size == "L":
      answer[3] += 1
    elif size == "XL":
      answer[4] += 1
    elif size == "XXL":
      answer[5] += 1
	return answer

문제2

A 쇼핑몰에서는 회원 등급에 따라 할인 서비스를 제공합니다. 회원 등급에 따른 할인율은 다음과 같습니다. (S=실버, G=골드, V=VIP)
상품의 가격 price와 구매자의 회원 등급을 나타내는 문자열 grade가 매개변수로 주어질 때, 할인 서비스를 적용한 가격을 return 하도록  solution 함수를 완성해 주세요.  price는 100이상 100,000이하의 100단위 자연수



![그림1.png]()

In [ ]:
def solution(price, grade):
  answer = 0
  if grade == "S":
    answer = int(price * 0.95)
  elif grade == "G":
    answer = int(price * 0.9)
  elif grade == "V":
    answer = int(price * 0.85)
  return answer

문제3

시작 날짜와 끝 날짜가 주어질 때, 두 날짜가 며칠만큼 떨어져 있는지(D-day)를 구하려 합니다. 이를 위해 다음과 같이 3단계로 간단히 프로그램 구조를 작성했습니다.(단, 윤년은 고려하지 않습니다.)

1단계 : 시작 날짜가 1월 1일로부터 며칠만큼 떨어져 있는지 구합니다. 

2단계 : 끝 날짜가 1월 1일로부터 며칠만큼 떨어져 있는지 구합니다.

3단계 : (2단계에서구한 날짜) – (1단계에서 구한 날짜)를 구합니다.

시작 날짜의 월, 일을 나타내는 startmonth, startday, 끝 날짜의 월, 일을 나타내는 endmonth, endday가 매개변수로 주어질 때, 시작 날짜와 끝 날짜가 며칠 만큼 떨어져 있는지 return 하도록 solution 함수를 작성했습니다. 이때 위 구조를 참고하여 중복되는 부분은 func_a라는 함수로 작성했습니다.  코드가 올바르게 동작할 수 있도록 빈칸을 알맞게 채워주세요.

In [ ]:
#문제3
def func_a(month, day):
    month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = 0;
    for i in range(month-1):
        total += month_list[i]
    total += day
    return total - 1
        
def solution(start_month, start_day, end_month, end_day):
    start_total = func_a(start_month, start_day)
    end_total = func_a(end_month, end_day)
    return end_total - start_total

# 아랫부분은 실제 시험에서는 코드 작성을 하지 않아도 됩니다.
start_month = 1
start_day = 31
end_month = 2
end_day = 2
ret = solution(start_month, start_day, end_month, end_day)

문제4

자연수가 들어있는 리스트가 있습니다. 이 리스트에서 가장 많이 등장하는 숫자의 개수는 가장 적게 등장하는 숫자 개수의 몇배인지 구하려 합니다. 이를 위해 다음과 같이 간단히 프로그램 구조를 작성했습니다.

1단계 : 리스트에 들어있는 각 자연수의 개수를 셉니다.

2단계: 가장 많이 등장하는 수의 개수를 구합니다.

3단계: 가장 적게 등장하는 수의 개수를 구합니다.

4단계: 가장 많이 등장하는 수가 가장 적게 등장하는 수보다 몇 배 더 많은지 구합니다.

단,  몇 배 더 많은지 구할 때는 소수 부분은 버리고 정수 부분만 구하면 됩니다.
자연수가 들어있는 리스트 arr이 매개변수로 주어질 때, 가장 많이 등장하는 숫자가 가장 적게 등장하는 숫자보다 몇배 더 많은지 return 하도록 solution하수를 작성하려 합니다. 위 구조를 참고하여 코드가 올바르게 동작할 수 있도록 빈칸에 주어진 func_a, func_b,  func_c함수와 매개변수를 알맞게 채워주세요.
매개변수 :   arr 길이는 3이상 1,000이하이며, 1이상 1,000이하의 자연수가 들어 있습니다.

In [ ]:
#4번
def func_a(arr):
    counter = [0 for _ in range(1001)]
    for x in arr:
        counter[x] += 1
    return counter

def func_b(arr):
    ret = 0
    for x in arr:
        if ret < x:
            ret = x
    return ret

def func_c(arr):
    ret = 1001
    for x in arr:
        if x != 0 and ret > x:
            ret = x
    return ret

def solution(arr):
    counter = func_a(arr)
    max_cnt = func_b(counter)
    min_cnt = func_c(counter)
    return max_cnt // min_cnt

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
arr = [1, 2, 3, 3, 1, 3, 3, 2, 3, 2]
ret = solution(arr)

문제5

주어진 리스트의 순서를 뒤집으려고 합니다. 예를 들어 주어진 리스트가 [1,4,2,3]이면, 순서를 뒤집은 리스트는 [3,2,4,1]입니다. 정수가 들어있는 리스트 arr이 매개변수로 주어졌을 때, arr을 뒤집어서 return 하도록 solution하수를 작성하려 합니다.  빈칸을 채워 전체 코드를 완성해 주세요.

매개변수 설명
arr길이는 1이상 100이하이면, 저장되는 요소의 값은 -100이상 100 이하 정수

In [ ]:
def solution(arr):
    left, right = 0, len(arr)-1
    while left < right:
        arr[left], arr[right] = arr[right], arr[left]
        left += 1
        right -= 1
    return arr


#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
arr = [1, 4, 2, 3]
ret = solution(arr)

문제6

369게임은 여러 명이 같이하는 게임입니다. 게임의 규칙은 아래와 같습니다. 1부터 시작합니다. 한사람 씩 차례대로 숫자를 1씩 더해가며 말합니다. 말해야 하는 숫자에 3,6,9중 하나라도 포함되어 있다면 숫자를 말하는 대신 숫자에 포함된 3,6,9 의 개수만큼 손뼉을 칩니다. 

어떤 수 number가 매개변수로 주어질 때, 1부터 number까지 369게임을 올바르게 진행했을 경우 박수를 총  몇 번  쳤는 지를 return 하도록 solution함수를 작성하려 합니다. 빈칸을 채워 전체 코드를 완성해 주세요.
매개변수 설명 :   number 는 10이상 1,000이하의 자연수

In [ ]:

def solution(number):
    count = 0
    for i in range(1, number+1): # i->1 ~ 20
        current = i
        temp = count
        while current != 0:
            if current % 10 == 3 or current % 10 == 6 or current % 10 == 9:
                count += 1
                print("짝", end = '')
            current = current // 10
        if temp == count:
            print(i, end = '')
        print(" ", end = '')
    print("")
    return count


#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
number = 60
ret = solution(number)

문제7

A대학에서는 수준별 영어 강의를 제공하고 있습니다. 초급 영어 강의는 토익시험에서 650점 이상 800점 미만의 성적을 취득한 학생만을 수강 대상으로 하고 있습니다. 초급영어강의에 수강 신청한 사람이 10명일 때, 이중에서 몇 명이 수강 대상에 해당하는지 확인하려 합니다.
]
  수강신청자들의 토익 성적이 들어있는 리스트 scores가 매개변수로 주어질 때, 수강 대상자들의 인원수를 return 하도록 solution함수를 작성했습니다. 그러나, 코드 일부분이 잘못 되었기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 한 줄만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정해 주세요.

In [ ]:
#문제7
def solution(scores):
    count = 0
    for s in scores:
        if 650 <= s and s < 800:
            count += 1
    return count

#아래는 테스트케이스 출력을 해보기 위한 코드입니다. 아래 코드는 잘못된 부분이 없으니, solution함수만 수정하세요.
scores = [650, 722, 914, 558, 714, 803, 650, 679, 669, 800]
ret = solution(scores)

문제8

앞에서부터 읽을 때와 뒤에서부터 읽을 때 똑같은 단어 또는 문장을 팰린드롬이라고 합니다. 예를 들어 racecar, noon 은 팰린드롬 단어 입니다. 소문자 알파벳, 공백(“  “), 그리고 마침표(“.”)로 이루어진 문장이 팰린드롬 문장인지 점검하려 합니다. 문장 내에서 알파벳만 추출하였을 때에 팰린드롬 단어이면 팰린드롬 문장입니다. 예를 들어 “never odd or even.”과 같은 문장은 팰린드롬입니다.  소문자 알파벳,  공백(“  “), 그리고 마침표(“.”)로 이루어진 문장 sentence가 주어질 때 필린드롬인지 아니지를 return하도록 solution함수를 작성했습니다. 그러나, 코드 일부분이 잘못되었기 때문에 , 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 한 줄만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정해 주세요.

In [ ]:
#문제8
def solution(sentence):
    str = ''
    for c in sentence:
        if c != '.' and c != ' ':
            str += c
    size = len(str)
    for i in range(size // 2):
        if str[i] != str[size - 1 - i]:
            return False
    return True

#아래는 테스트케이스 출력을 해보기 위한 코드입니다. 아래 코드는 잘못된 부분이 없으니, solution함수만 수정하세요.
sentence1 = "never odd or even."
ret1 = solution(sentence1)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret1, "입니다.")
    
sentence2 = "palindrome"
ret2 = solution(sentence2)

문제9

알파벳 문자열이 주어질 때, 연속하는 중복 문자를 삭제하려고 합니다. 예를 들어 ,  “senteeeen cccccceeee”라는 문자열이 주어진다면  “ sentence”라는 결과물이 나옵니다.  영어 소문자 알파벳으로 이루어진 임의의 문자열 characters가 매개변수로 주어질 때, 연속하는 중복 문자들을 삭제한 결과를 return 하도록 solution 함수를 작성하였습니다. 그러나, 코드 일부분이 잘못되었기 때문에 , 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 한 줄만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정해 주세요.

In [ ]:
#문제9
def solution(characters):
    result = ""
    result += characters[0]
    for i in range(1, len(characters)):
        if characters[i - 1] != characters[i]:
            result += characters[i]
    return result


#아래는 테스트케이스 출력을 해보기 위한 코드입니다. 아래 코드는 잘못된 부분이 없으니, solution함수만 수정하세요.
characters = "seenteeeencccccceeee"
ret = solution(characters)

문제10

평균은 자료의 합을 자료의 개수로 나눈 값을 의미합니다. 자연수가 들어 있는 리스트의 평균을 구하고, 평균 이하인 숫자는 몇 개 있는지 구하려 합니다. 예를 들어 주어진 리스트가 [1,2,3,4,5,6,7,8,9,10]이라면, 평균은 5.5이므로 리스트에서 평균 이하인 값은 5개 입니다. 자연수가 들어 있는 리스트 data가 매개변수로 주어질 때 리스트에 평균 이하인 값은 몇 개인지 return 하도록 solution 함수를 작성했습니다. 그러나, 코드 일부분이 잘못되었기 때문에 , 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 한 줄만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정해 주세요.

In [ ]:
#문제10
def solution(data):
    total = sum(data)
    average =  total/ len(data)
    cnt = 0
    for d in data:
        if d <= average:
            cnt += 1
    return cnt


#아래는 테스트케이스 출력을 해보기 위한 코드입니다. 아래 코드는 잘못된 부분이 없으니, solution함수만 수정하세요.
data1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ret1 = solution(data1)

문제11
두 자연수 n부터 m까지의 합을 구하려고 합니다. 이를 위해 다음과 같이 3단계로 간단히 프로그램 구조를 작성했습니다.

1부터 m까지의 합을 구합니다.

1부터 n-1까지의 합을 구합니다.

1단계에서구한 값에서 2단계에서 구한 값을 뺍니다.

두 자연수 n과 m이 매개변수로 주어질 때, n부터 m까지의 합을 return 하도록 solution함수를 작성했습니다. 이때 위 구조를 참고하여 중복되는 부분은 func_a라는 함수로 작성했습니다. 코드가 올바르게 동작할 수 있도록 빈칸을 알맞게 채워주세요.

In [ ]:
#문제11
def func_a(k):
    sum = 0
    for i in range(k+1):
        sum += int
        return sum

def solution(n, m):
    sum_to_m = func_a(m)
    sum_to_n = func_a(n-1)
    answer = sum_to_m - sum_to_n
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
ret = solution(5, 6)

문제12

한 학생의 과목별 점수가 들어있는 리스트가 주어졌을 때, 이 학생의 최고 점수와 최저 점수를 제외한 나머지 점수들의 합계를 구하려 합니다. 이를 위해 다음과 같이 4단계로 프로그램 구조를 작성했습니다.

모든 과목 점수의 합을 구합니다.

최고 점수를 구합니다.

최저 점수를 구합니다.

(모든 과목 점수의 합) – (최고 점수) –(최저 점수) 의 값을 return 합니다.

학생의 과목별 점수가 들어 있는 리스트 scores가 매개변수로 주어질 때, 학생의 과목별 점수에서 최고 점수와 최저 점수를 제외한 나머지 점수의 합을 return 하도록 solution 함수를 작성 하려합니다. 위 구조를 참고하여 코드가 올바르게 동작할 수 있도록 빈칸에 주어진 func_a, func_b, func_c 함수를 알맞게 채워주세요. 
매개변수 설명 : scores 길이는 3이상 10이하이며 점수는 0이상 100이하 점수, 같은 점수를 받은 과목은 없습니다.

In [ ]:
def func_a(s):  # 최고 점수 구하기
    ret = 0
    for i in s:
        if i > ret:
            ret = i
    return ret

def func_b(s):  # 점수들의 총합을 구함
    ret = 0
    for i in s:
       ret += i
    return ret

def func_c(s):  # 최저 점수 구하기
    ret = 101
    for i in s:
        if i < ret:
            ret = i
    return ret

def solution(scores):
    sum = func_b(scores)
    max_score = func_a(scores)
    min_score = func_c(scores)
    return sum - max_score - min_score
    
#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
scores = [50, 90, 65, 100]
ret = solution(scores)

문제13

XX공항에서 N일 동안 매일 공항 방문객 수를 조사하였습니다. 이때 가장 많이 방문객 수와 두번째로 많은 방문객 수의 차이를 구하려고 합니다. 단, 방문객의 수가 같은 날은 없다고 가정합니다. 이를 위해 다음과 같이 4단계로 간단히 프로그램 구조를 작성 했습니다. 
입력으로 주어진 리스트에서 가장 많은 방문객 수를 찾습니다.

1번 단계에서 찾은 값을 제외하고 나머지 값들로 이루어진 새로운 리스트를 만듭니다.

2번 단계에서 만든 새로운 리스트에서 가장 큰 방문객의 수를 찾습니다.

1번 단계와 3번 단계에서 구한 값의 차이를 구합니다.

N일 동안의 방문객 수가 들어 있는 리스트 visitor가 매개변수로 주어질 때, 가장 많은 방문객 수와 두번째로 많은 방문객 수의 차이를 return 하도록 solution 함수를 작성 하려합니다. 위 구조를 참고하여 코드가 올바르게 동작할 수 있도록 빈칸에 주어진 func_a, func_b, func_c 함수를 알맞게 채워주세요.

In [ ]:
def func_a(arr, n):  
    ret = []
    for x in arr:
        if x != n:
            ret.append(x)
    return ret
def func_b(a, b):  
    if a >= b:
        return a - b
def func_c(arr):   
    ret = -1
    for x in arr:
        if ret < x:
            ret = x
    return ret
def solution(visitor):
    max_first = func_c(visitor)
    visitor_removed = func_a(visitor, max_first)
    max_second = func_c(visitor_removed)
    answer = func_b(max_first, max_second)
    return answer


#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
visitor = [50, 20, 30, 10, 40]
ret = solution(visitor)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

문제14


XX학교에서는 다음과 같이 학생들의 점수에 따라 학점을 부여합니다.

85점 ~ 100점 : A학점, 
70점 ~ 84점 : B학점, 
55점 ~ 69점 : C학점, 
40점 ~ 54점 : D학점,
0점 ~ 39점 : F학점

학생들의 점수가 들어 있는 배열 scores 가 매개변수로 주어질 때 A학점, B학점, C학점, D학점, F학점을 받은 학생들의 수를 배열에 순서대로 담아 return 하도록 solution 함수를 작성하려 합니다. 빈칸을 채워 전체 코드를 완성해 주세요.

매개변수 설명 : scores 의 기이는 1이상 200이하, 학생들의 점수는 0점 이상 100점 이하 정수

return 값 설명 : solution 함수는 [A학점 학생 수, B학점 학생 수, C학점 학생 수, D학점 학생 수, F학점 학생 수]를 순서대로 배열에 담아 return

In [ ]:
#문제14
def solution(scores):
    grade_counter = [0 for i in range(5)]
    for x in scores:
        if x >= 85:
            grade_counter[0] += 1
        elif x >= 70:
            grade_counter[1] += 1
        elif x >= 55:
            grade_counter[2] += 1
        elif x >= 40:
            grade_counter[3] += 1
        else:
            grade_counter[4] += 1
            
    return grade_counter

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
scores = [50, 95, 70, 65, 90, 80, 60]
ret = solution(scores)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

문제15

개구리가 일정한 간격으로 일렬로 놓여있는 징검다리를 건너려고 합니다. 징검다리에는 자연수가 적혀있으면 개구리는 자신이 밟고 있는 징검다리에 적혀있는 숫자만큼 앞쪽으로 점프해야 합니다. 개구리는 현재 첫번째 징검다리 위에 앉아 있습니다.  

징검다리에 적혀 있는 숫자가 첫 번째 부터 순서대로 들어 있는 배열 stones가 매개변수로 주어질 때, 개구리가 징검다리를 모두 건너기 위해 필요한 점프 횟수를 return 하도록 solution 함수를 작성 하려합니다. 빈칸을 채워 전체 코드를 완성해 주세요.

매개변수 설명 : stones 배열 길이는 1이상 100이하, stones의 원소(돌에 적혀있는 숫자)는 1이상 5이하 자연수

In [ ]:
def solution(stones):
    cnt = 0
    current = 0
    n = len(stones)
    while current < n:
        current += stones[current]
        cnt += 1
    return cnt

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
stones = [2, 5, 1, 3, 2, 1]
ret = solution(stones)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

문제16

학생들의 키가 들어 있는 목록에서 키가 k보다 큰사람은 몇 명인지 구하려 합니다. 예를 들어 다음과 같은 목록에서 키가 175보다 큰 사람은 2명 입니다.

학생의 키가 들어있는 배열 height와 k값이 매개변수로 주어졌을 때, k 보다 키가 큰 학생의 수를 세서 return 하도록 solution 함수를 작성했습니다.
 그러나, 코드 일부분이 잘못되었기 때문에 몇몇 입력에 대해서는 올바르게 동작하지 않습니다.  주어진 코드에서 한 줄만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정하세요.
 
매개변수 설명 : height 길이는 1이상 100이하, 학생들이 키는 100이상 300이하의 자연수, k는 100이상 300이하의 자연수

In [ ]:
def solution(height, k):
    answer = 0
    n = len(height)
    for h in height:
        if h > k:
            answer += 1
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
height = [165, 170, 175, 180, 184]
k = 175
ret = solution(height, k)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

문제17

문자열이 주어졌을 때, 문자열에서  ‘a’는 ‘z’로, ‘z’ 는 ‘a’로 바꾸려고 합니다. 
예를 들어 주어짐 문자열이  ‘abz‘라면   ‘zba‘라는 문자열을 만들면 됩니다. 
문자열 s가 매개변수로 주어졌을 때, 
문자열에서 ‘a’는 ‘z’로, ‘z’ 는 ‘a’로 바꾸어 return 하도록 solution 함수를 작성했습니다.
 그러나, 코드 일부분이 잘못되었기 때문에 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 
  주어진 코드에서 한 줄만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정하세요.
매개변수 설명 : 문자열 s는 알파벳 소문자로만 이루어져 있으며 길이는 1이상 100이하

In [ ]:
#17번 수정전
def solution(s):
    s_lst = list(s)
    n = len(s)
    for i in range(n):
        if s_lst[i] == 'a':
            s_lst[i] = 'z'
        elif s_lst[i] == 'z':
            s_lst[i] =  'a'
    return "".join(s_lst)


#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
name = 'james'
ret = solution(name)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

문제18

학생들의 이름이 들어있는 명단에서 이름에 j또는 k가 들어가는 학생의 수를 구하려고 합니다. 
예를 들어 james에는 j가 들어가 있으며, jack에는 j와 k가 모두 들어 있습니다.
학생들의 이름이 들어있는 배열 name_list가 매개변수로 주어졌을 때, 이름에 j 또는 k가 들어가는 학생의 수를 세서 return 하도록 solution 함수를 작성했습니다. 그러나, 코드 일부분이 잘못되어있기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 한 줄만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정하세요.

매개변수 설명 : name_list의 길이는 1이상 100이하, 학생들의 이름은 알파벳 소문자로만 이루어져 있으며, 길이는 1이상 20이하, 같은 이름이 중복해서 들어있지 않다.

In [ ]:
문제18번 - 수정전
def solution(name_list):
    answer = 0
    for name in name_list:
        for n in name:
            if n == 'j' or n == 'k':
                answer += 1
                break
    return answer

#아래는 테스트케이스 출력을 해보기 위한 코드입니다.
names = ['james', 'kim john', 'jokin']
ret = solution(names)

#[실행] 버튼을 누르면 출력 값을 볼 수 있습니다.
print("solution 함수의 반환 값은", ret, "입니다.")

문제 19

고객이 구매한 물건들의 가격과 지불 금액이 주어졌을 때, 거스름돈을 얼마나 줘야하는지 구하려 합니다.
  예를 들어 구매한 물건들의 가격이 (2100, 3200, 2100, 800)이라면 총 구매금액은 8,200원입니다. 이때 고객이 10,000원을 지불했다면 1,800원을 거슬러  주면 됩니다. 고객이 구매한 물품들의 가격이 들어있는 배열 price와 지불한 금액 money가 매개변수로 주어질 때, 거슬러 줘야하는 금액을 return 하도록 solution함수를 완성해 주세요. 
  
매개변수 설정 : price의 길이는 1이상 50이하, price 원소는 고객이 구매한 물품의 가격이며, 10이상 10,000이하의 자연수,  money는 10이상 5,000,000 이하의 자연수. 단, 거스름돈이 <0 일 때는 -1을 반환하도록 해 주세요.

In [ ]:
def solution(price, money):
    answer = money - sum(price)
    if answer < 0:
        answer = -1
  return answer

문제20

자연수가 담겨있는 nX4 크기의 2차원 배열에서 K번째로 작은 수를 찾으려 합니다. 이때 n은 배열의 세로 길이, 4는 배열의 가로 길이입니다. 예를 들어 다음은 자연수가 담겨있는 4 X 4 크기의 2차원 배열입니다.

위 2차원 배열에서 가장 작은 수는 2입니다. 두번째로 작은 수는 4, 세번째로 작은 수는 5이며, 네번째로 작은 수는 11입니다. 2차원 배열 arr과 자연수 k가 매개변수로 주어질 때,  arr에서 k번째로 작은 수를 찾아 return 하도록 solution 함수를 완성해 주세요. 

매개변수 설명 :
arr는 nX4 크기의 2차원 배열이면, n은 1이상 20이하,
n은 arr의 세로 길이이며, 가로 길이는 항상 4
arr의 원소는 1이상 1,000이하의 자연수이며, 같은 수가 중복해서 들어있지 않다. 
k는 1이상 nX4 이하의 자연수

In [ ]:
def solution(arr,k):
    answer = 0
    temp = []
    for a in arr:
        for b in a:
            temp.append(b)    
    temp.sort()
    answer = temp[k-1]
  return answer